# macOS system files
.DS_Store

# User directories and config files
.CFUserTextEncoding
.zsh_history
.vscode/
Library/
Movies/
Music/
Downloads/
Desktop/
Documents/
Pictures/
Public/

# Node.js dependencies
node_modules/
package-lock.json

# Dart and Flutter files
.dart-tool/
.dart/
.flutter/
.flutter-devtools/
.dartServer/
.pub-cache/

# Git-related files
.gitconfig

